<footer class="col-sm-12">
    <div class="mofooter">
      <div class="icons">
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-twitter.svg"><a target="_blank" href="{{ site.twitter }}">Twitter</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-irc.svg"><a target="_blank" href="{{ site.chat }}">Chat</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-email.svg"><a target="_blank" href="mailto:{{ site.email }}">Email</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-github.svg"><a target="_blank" href="https://github.com/{{ site.github.repo }}">Github</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-terms.svg"><a target="_blank" href="https://www.mozilla.org/en-US/about/legal/">Legal</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/cc-logo.svg"><a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">License</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-conduct.svg"><a target="_blank" href="https://www.mozilla.org/en-US/about/governance/policies/participation/">Participation Guidelines</a></div>
        </div>
      </div>
      <div class="footer-content"><a class="logo" href="https://ebildungslabor.de"><img src="{{ site.baseurl }}/img/logo.svg" width="105" height="30"></a>
        <p>Das eBildungslabor ist eine Initiative zur Unterstützung zeitgemäßer Bildung. Weitere Informationen findest Du auf <a href="https://eBildungslabor.de" target="_blank">eBildungslabor.de</a></p>
      </div>
    </div>
  </footer>
