<footer class="col-sm-12">
    <div class="mofooter">
      <div class="icons">
        
          <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-twitter.svg"><a target="_blank" href="{{ site.twitter }}">Twitter</a></div>
        </div>
       
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-email.svg"><a target="_blank" href="mailto:{{ site.email }}">Email</a></div>
        </div>
        
          <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-github.svg"><a target="_blank" href="https://github.com/{{ site.github.repo }}">Github</a></div>
        </div>
        
          <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-terms.svg"><a target="_blank" href="https://ebildungslabor.de/impressum">Impressum</a></div>
        </div>
        
          <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/cc-logo.svg"><a target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/deed.de">Public Domain</a></div>
        </div>
        
      </div>
      <div class="footer-content">
        <p>Der Kurs Make BNE-OER ist ein offenes Angebot aus dem eBildungslabor. Das eBildungslabor ist eine Initiative zur Unterstützung zeitgemäßer Bildung. Weitere Informationen findest Du auf <a href="https://eBildungslabor.de" target="_blank">eBildungslabor.de</a>.
          Die Kursgestaltung ist übernommen vom Mozilla-Kurs <a href=https://github.com/mozilla/open-leadership-training-series target=blank> Open Leadership</a></p>
      </div>
    </div>
  </footer>
